
@*<div class="col-md-8 table-bordered">
    <form>
        <input type="text" name="txtUsername" />
        <input type="password" name="txtPassword" />
        <button type="submit">Đăng nhập</button>
    </form>
</div>

<style>

</style>*@